body {
  max-width: 186vh;
  font-family: "Noto Sans JP";
}

header {
  height: 10vh;
}

h1 {
  padding: 10px;
}
.col-3{
  border-right: 1.5px solid #bababa;
  left: 20px;
  top: 10px;
  height: 85vh;
  padding: 10px 20px 10px 10px;
  padding-top:20px;
}

.col-9{
  height: 85vh;
  padding-left: 50px;
}

.col-9 >.box {
  height: 85vh;
  overflow: auto;
}

.box-li {
  padding-bottom: 50px;
  border-bottom: 2px dotted #bababa;
  max-width: 80%;
}

.detail {
  margin-top: 10px;
}

button {
  background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  box-shadow:none;
}

button:focus {
  outline: none;
  border: none;
  text-decoration: none;
}